@font-face {
  font-family: Mikhak Bold;
  src: url('./fonts/Mikhak-Bold.ttf');
}
@font-face {
  font-family: Iransans;
  src: url('./fonts/IRANSansWeb.ttf');
}
body{
font-family:Iransans;
}
p{
font-family:Iransans;
}

.header-text {
	position: absolute;
	z-index: 1;
	padding: 15px;
	top: 100px;
	color: #fff;
}

.header-text h1 h2 h5{
	color: #fff;
}

.header-text h1{
font-family: Mikhak Bold;
}

.small-section{
	text-align:center;
}
.small-section h3{
	font-family:Mikhak Bold;
}
.section h2{
	font-family:Mikhak Bold;
}
.section{
	padding:15px;
}

.header img{
	width:100%;
}

.gray-section{
	background:#CECECE
}

.section-text {
	padding:15px;
	text-align:justify;
}
.section-text a{
	background:#fff;
	color:#001A7C;
	border:1px solid #001A7C;
	border-radius:6px;
	padding:5px;
	text-decoration: none;
	float:left;
}
.section-text a:hover{
	background:#001A7C;
	color:#fff;
	border:1px solid #001A7C;
	border-radius:6px;
	padding:5px;
	text-decoration: none;
	float:left;
}

.section-text ul{
	font-family: Iransans;
	color: rgb(63, 63, 63);
	font-size: 13;
}
.section-text p{
	font-family: Iransans;
	color: rgb(44, 44, 44);
	font-size: 15;
	line-height: 2;
}
.section-text li{
	list-style: none;
}
.section-text li::before{
	content: '✓';
}
.gray-text{
	font-family: Iransans;
	color: rgb(63, 63, 63);
	font-size: 13;
}



@media only screen and (max-width: 766px) {
	.header-text {
		padding: 10px;
		top: 70px;
	}
	.header-text h2, h1, h5{
		font-size: 18 !important;
	}
}

@media only screen and (max-width: 500px) {
	.header-text {
		padding: 5px;
		top: 40px;
	}
	.header-text h2, h1, h5{
		font-size: 12 !important;
	}
	.big-section img{
		width: 100%;
	}
}